*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
}

.page-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-div {
    border: 1px solid orange;
    border-radius: 5px;
    width: 600px;
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
    padding: 20px 0;
    background-color: transparent;
    color: black;
    box-shadow: none;
}

#signup-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-child, .input-field {
    margin: 10px 0;
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 90%;
}

.heading {
    margin: 10px 0 20px 0;
    color: black;
}

label {
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 0px 10px;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 5px;
    color: black;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#submit-button {
    padding: 10px 20px;
    background-color: #1668af;
    border-radius: 5px;
    color: white;
    border: none;
    width: 50%;
    font-weight: 400;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #033d70;
}

a {
    color: blue;
    font-size: small;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.login-link {
    width: 90%;
    text-align: left;
    margin: 5px 0;
}

.referal-code-div {
    display: flex;
    width: 100%;
}

[referalCode] {
    position: relative;
}

.referal-button {
    padding: 0 10px;
    margin: 0 5px;
    border-radius: 5px;
    border: none;
    background-color: #1668af;
    color: white;
    cursor: pointer;
}

.referal-button:hover {
    background-color: #033d70;
}

.referal-status {
    padding: 5px 10px;
    color: black;
}