PORT=6600
DB_URI='mongodb://localhost:27017/margin'
EMAIL_PASS_KEY="your_email_passkey_for_sending_otp_"
OTP_EMAIL="your_email@gmail.com"
SALTROUNDS=10
SESSION_SECRET='your-secret-key'
RAZORPAY_KEYID="your_razorpay_key_id"
RAZORPAY_KEYSECRET="Your_razorpay_key_secret"
RAZORPAY_WEBHOOK_SECRET="your_razorpay_webhook_secret"
CLOUDINARY_URL="your-cloudinary-url"
# Or set CLOUDINARY_CLOUD_NAME, CLOUDINARY_API_KEY, and CLOUDINARY_API_SECRET.
